* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: bisque;
}

.container {
  background-color: white;
  width: 40%;
  height: 100vh;
  margin: 0 auto;
}

.nav {
  display: flex;
  height: 70px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
  padding: 22px 30px;
}

.hero-container {
  margin: 3% 8%;
}

.hero-photo {
  display: block;
  height: 37%;
  margin: 0 auto;
}

.hero-heading {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 46px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.hero-paragraph {
  font-family: 'Poppins';
  font-size: 16px;
  max-width: 45%;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  margin: 3% 8%;
  font-size: 14px;
  font-family: 'Poppins', 'sans-serif' l
}

.card-image {
  width: 90%;
  border-radius: 5%;
}

.card-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin-top: 5%;
  margin-bottom: 0;
}

.card-starimg {
  width: 15%;
}

.card-blacktext {
  color: #222222;
}

.card-graytext {
  color: #918E9B
}

.card-description {
  margin-top: 5%;
}

.card-bold {
  font-weight:
}