* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: bisque;
}

p {
  margin: 0;
}

.container {
  background-color: white;
  width: 40%;
  height: 100vh;
  margin: 0 auto;
}

.nav {
  display: flex;
  height: 70px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
  padding: 22px 30px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  margin: 3% 8%;
  height: 40%;
}

.hero-photo {
  display: block;
  height: 35%;
  margin: 0 auto;
}

.hero-heading {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 46px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.hero-paragraph {
  font-family: 'Poppins';
  font-size: 16px;
  max-width: 45%;
}

.cards-list {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  margin: 3% 8%;
  font-size: 13px;
  font-family: 'Poppins', 'sans-serif';
  position: relative;
}

.card-lable {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}

.card-image {

  border-radius: 5%;
}

.card-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-top: 5%;
  margin-bottom: 0;
}

.card-starimg {
  width: 15%;
}

.card-blacktext {
  color: #222222;
}

.card-graytext {
  color: #918E9B
}

.card-description {
  margin-top: 5;
  margin-bottom: 0;
}

.card-bold {
  font-weight: 600
}